<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Crash</div>
    <div class="panel-body">
      <div class="row">
        <uib-tabset>
          <uib-tab heading="Owner" ng-click = "change_state('owner')">
              <div ui-view></div>  <!-- ex: <div ui-view="tab1"></div> -->
          </uib-tab>
          <uib-tab heading="Overview" ng-click = "change_state('overview')">
              <div ui-view></div>  <!-- ex: <div ui-view="tab1"></div> -->
          </uib-tab>
      </uib-tabset>
  <!--About section-->
<!-- /#wrapper -->
      </div>
    </div>
  </div>
</div>
