<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Crash</div>
    <div class="panel-body">
      <div class="row">
        <uib-tabset>
          <uib-tab heading="Owner" active="isSet(1)" ng-click = "setTab(1);change_state('owner');">
              <div ui-view></div>  <!-- ex: <div ui-view="tab1"></div> -->
          </uib-tab>
          <uib-tab heading="Notes"  active="isSet(2)" ng-click = "setTab(2);change_state('notes');">
              <div ui-view></div>  <!-- ex: <div ui-view="tab1"></div> -->
          </uib-tab>
          <uib-tab heading="Overview"  active="isSet(3)" ng-click = "setTab(3);change_state('overview');">
              <div ui-view></div>  <!-- ex: <div ui-view="tab1"></div> -->
          </uib-tab>
      </uib-tabset>
  <!--About section-->
<!-- /#wrapper -->
      </div>
    </div>
  </div>
</div>
