<div class="container">
  <div class="row" style = "margin-top:30px;">
    <div class="col-sm-12">
      <form class="form">
      <div class="form-group">
        <label for="exampleInputName2">Notes</label>
        <input type="text" class="form-control note-input" placeholder="Becouse of a bird I could't see anything" ng-model="noteData.txt"></input>
      </div>
      <button type="submit" class="btn btn-primary" ng-click = "updateNote(noteData);">Add note</button>
    </form>
    </div>
  </div>
  <form>
</div>
