<div class="container">
  <div class="row" style = "margin-top:30px;">
    <div class="col-sm-12">

      <ul>
        <h4>Notes</h4>
        <li ng-repeat="note in notes_for">
          <blockquote>
            <strong>{{note._id}}</strong><br>
            {{note.txt}}
            <cite class="clearfix">—{{note.user_id}}</cite>
            <button ng-click="deleteItem(note)">Delete</button>
          </blockquote>
        </li>
      </ul>


      <form class="form">
      <div class="form-group">
        <label for="exampleInputName2">Notes</label>
        <input type="text" class="form-control note-input" placeholder="Becouse of a bird I could't see anything" ng-model="noteData.txt"></input>
      </div>
      <button type="submit" class="btn btn-primary" ng-click = "updateNote(noteData);">Add note</button>
    </form>
    </div>
  </div>
  <form>
</div>
