
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
      <h4>Animation</h4>
      <!-- HOT fix (shit start)-->
      <div class="row">
        <div class="col-sm-12" style = "text-align:center; color:red;" ng-if = "got_data">
          <h5>New data available! Click the "Load new data" button to update</h5>
        </div>
      <!-- (shit end) -->
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group" role="group" aria-label="..." style = "margin-bottom: 10px;">
            <button type="button" class="btn btn-primary" ng-click="restartAnimation()">Restart animation</button>
            <button type="button" class="btn btn-primary" ng-click="load_new_data()">Load new data</button>
          </div>
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
            <ui-gmap-markers models="map.markers" coords="'self'">
            </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
  </div>
</div>
